a.button-small:hover {
  cursor: pointer;
}

div {
  padding: 10px;
}

.parrotchoice {
  display: inline-block;
  padding: 0px;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
}

.parrotchoice:hover {
  cursor: pointer;
  background-color: #bcc6dc;
}

.selected {
  background-color: #bcc6dc;
}